:root {
    --clr-bg-body: #f3f3f5;

    --clr-neutral: #fff;
    --clr-text: #878787;

    --ff-poppins: 'Poppins', sans-serif;

    --radiusBig: 32px;
    --radiusMedium: 16px;
    --radiusSmall: 5px;
    --radiusCircle: 50%;
}

/*-----reset-----*/
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

button,
input,
textarea,
select {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    background: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
}

ul,
li {
    list-style: none;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

/*-----utilities-----*/
.hidden {
    display: none;
}

.upper {
    text-transform: uppercase;
}


/*-----main-----*/

body {
    font-family: var(--ff-poppins);
    min-height: 100vh;
    background: var(--clr-bg-body);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: min(37.5rem, 98%);
    color: var(--clr-text);
    background-color: var(--clr-neutral);
    border-radius: var(--radiusSmall);
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 1em;
}

select{
    border: none;
    padding: 0.5em;
    border-radius: var(--radiusSmall);
    color: var(--clr-text);
}

select:focus{
    border: none;
    outline: none;
}

.get-color-scheme {
    border: 1px solid #878787;
    padding: 0.5em;
    border-radius: var(--radiusSmall);
}

.color-palette {
    display: flex;
}

.color-palette>* {flex-basis: 100%;}

.color-rectangle{
    height: 16rem;
}

.hex-code {
    padding: 1em 0.5em;
    font-size: 0.8rem;
}

@media (max-width: 31.25em){
    header{
        flex-direction: column;
        align-items: flex-start;
        gap: 1em;
    }

    .color-palette {
        flex-direction: column;
    }
}


